/// =====
/// modules/header/page
/// header styles for global pages.
/// =====

header {
  padding: 0 0 2.5em 0;
  overflow-y: hidden;
  background: color('blue', 'dark');

  @media all and (min-width: $sm-desktop-width) and (min-height: $sm-mobile-height) {
    max-height: 45vh;
    max-height: calc(50vh - 5em);
    padding-bottom: 5em;
  }
}

.page {
  &__title,
  &__subtitle {
    text-align: center;
  }

  &__title {
    padding: 0 1em;
    font-size: $heading-3;
    color: color('gold');

    @media all and (min-height: $md-mobile-height) {
      padding-bottom: 0.25em;
    }

    @media all and (min-width: $xl-mobile-width) {
      padding-bottom: 0.25em;
      font-size: $heading-2;
    }

    @media all and (min-width: $sm-desktop-width) {
      font-size: $heading-1;
    }

    &--error {
      @media all and (min-height: $md-mobile-height), (min-width: $sm-desktop-width) {
        padding-top: 0.375em;
      }
    }
  }

  &__subtitle {
    padding: 0 1em;
    margin-top: 0;
    display: none;
    font-size: $md-font-size;
    color: color('sky', 'light');

    @media all and (min-height: $sm-mobile-width) {
      display: block;
    }

    @media all and (min-height: $sm-mobile-height) {
      font-size: $lg-font-size;
    }

    @media all and (min-width: $tablet-size) and (min-height: $md-mobile-width) {
      font-size: $heading-6;
    }
  }
}
