/// =====
/// modules/tile/default
/// tile module defaults.
/// =====

.tile {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: color('blue', 'light');
  color: color('sky', 'lighter');
  text-align: center;
  transition: color 0.5s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: color('sky');

    @media all and (min-width: $sm-desktop-width) {

      & .tile__bg {
        transform: translateX(0);
        transition: 250ms transform ease-in-out 50ms;
      }

      & .tile__data {
        opacity: 1;
        transition: opacity 375ms ease-in-out 100ms;
      }
    }
  }

  @media all and (min-width: $tablet-size) {
    &::after {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: block;
      background: rgba(color('blue', 'light'), 0.75);
      content: '';
    }
  }

  &__title {
    padding: 1em 1em 0 1em;
    margin: 0 auto;
    position: relative;
    z-index: z-index();
    font-size: $heading-6;
    color: color('sky', 'light');

    @media all and (min-width: $sm-desktop-width) {
      padding: 0;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__desc {
    display: none;

    @media all and (min-width: $sm-desktop-width) {
      margin: 0.5em 0;
      display: block;
      font-weight: $light;
    }

    &--mobile {
      padding: 0 1em 1em 1em;
      display: block;
      font-size: $default-font-size;
      font-weight: $light;

      @media all and (min-width: $sm-desktop-width) {
        display: none;
      }
    }
  }

  &__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    @media all and (min-width: $tablet-size) {
      display: block;
    }

    @media all and (orientation: portrait) and (min-width: $tablet-size), (min-width: $sm-desktop-width) {
      height: 100%;
    }
  }
}
