/// =====
/// modules/animations/settings/extends
/// all reusable animation styles.
/// =====

%animation-settings {
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0.125, 0.625, 0.875);
  animation-iteration-count: 1;
  animation-play-state: running;
}

%animation--fadein {
  opacity: 0;
  animation-duration: 625ms;
  @extend %animation-settings;
}

%animationfadein {
  &--down, &--downsoft, &--up {
    @extend %animation--fadein;
  }

  &--down {
    animation-name: fade-in-down;

    &soft {
      animation-name: fade-in-down-soft;
    }
  }

  &--up {
    animation-name: fade-in-up;
  }
}
