/// =====
/// modules/animations/settings/keyframes
/// all animation keyframes.
/// =====

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-6.25%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down-soft {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(6.25%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
