/// =====
/// modules/buttons
/// for styling all button and button-looking elements.
/// =====

.btn-group {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  display: block;
  list-style: none;
  text-align: center;

  &--link {
    margin-top: 6.25%;
  }

  &--scroll {
    margin-bottom: 6.25%;
  }

  &__item {
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
  }
}

.btn {
  width: auto;
  height: 1em;
  padding: 0.5em;
  margin: 0 0.5em;
  display: inline-block;
  border: 0.125em solid color('gold', 'dark');
  font: #{$heading-6}/#{$default-lh} $title-font;
  text-transform: lowercase;

  &:hover,
  &:focus,
  &:active {
    border-color: color('gold', 'darker');
  }
}
