.card {
    width: calc(100% - 2em);
    margin: 2em auto;
    display: block;
    background: color('black', 'charcoal');

    &__collection {
        display: block;
    }

    &__content {
        padding: 2em 2em 1em 2em;
    }

    &__title {
        margin: 0.25em auto;
        font-size: $heading-6;
        color: color('gold', 'amber');

        @media all and (min-width: $medium-mobile-width) {
            font-size: $heading-4;
        }
    }

    &__metadata {
        font-size: $default-font-size;

        @media all and (min-width: $medium-mobile-width) {
            font-size: $heading-7;
        }
    }

    &__status {
        padding: 1.5em;
        display: block;
        background: color('black', 'slate');
        text-transform: uppercase;
    }

    @media all and (min-width: $desktop-width-media), (min-width: $desktop-width-media) and (min-height: $desktop-height-media) {
        display: none;
    }
}
