/// =====
/// modules/footer
/// the default footer.
/// =====

footer {
  width: 100%;
  padding: 2em 0 4em 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  background: color('blue', 'darker');
  font-size: $default-font-size;
  line-height: $default-lh;
  color: color('sky');
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
  }

  li {
    margin: 0 1em;
    display: inline-block;
  }
}
