//
// modules/logo: the default brand & logo styles.
//

.logo {

    &--nameplate, &--nav {
        width: 1.125em;
        height: 0.95em;
        padding: 0.275em 0.2875em 0.275em 0.1875em;
        @include center-relative;
        display: inline-block;
        overflow: hidden;
        font-size: $logo-size;
        letter-spacing: -0.0625em;
    }

    &--nameplate {
        top: 0;
        left: 0;
    }

    &--nav {
        @if $stylesheet-type == 'landing' {
            cursor: default;
        } @else {
            cursor: pointer;
        }
        border: $primary-border;
        font-size: 40px;
        font-weight: $light;
        @include transition($medium-transition);
    }
}
