//
// modules/tile: the default tile styling.
//

.tile {
    width: calc(100% - 2em - 4px);
    padding: 1em 0;
    margin: 1em auto;
    display: block;
    background: color('black', 'slate');
    border: $hidden-border;
    color: color('gold', 'amber');
    @include center-allcaps;
    @include transition($default-transition);

    &__title {
        font-weight: $light;
        line-height: $default-lh;
    }

    &:hover, &:active {
        background: color('black', 'obsidian');
        border: $primary-border;
        color: color('gold');
        @include transition($default-transition);
    }

    @media all and (min-width: $desktop-width-media) {
        width: calc(49% - 2em - 4px);
        margin: 1em;
        display: inline-block;
    }
}
