<footer class="ui-footer" data-aos="fade-up">
  <section class="ui-footer__content">
    <p>&copy; {{ site.title }} <time>2016–2018</time></p>
    <nav class="ui-footer__nav">
      <ul>
        <li><a href="/" rel="index">Home</a></li>
        <li><a href="https://github.com/{{ site.username }}" title="Tiffany Yeung's GitHub profile" aria-label="Contact">GitHub</a></li>
        <li><a href="https://medium.com/@{{ site.username }}" title="Tiffany Yeung's Medium profile" aria-label="Medium">Medium</a></li>
        <li><a href="//dribbble.com/{{ site.username }}" title="Tiffany Yeung's Dribbble profile" aria-label="Dribbble profile">Dribbble</a></li>
      </ul>
    </nav>
  </section>
</footer>
