<footer>
  <p>&copy; Tiffany Yeung <time>2016</time>&ndash;<time>2017</time>.</p>
  <ul>
    <li>
      <address>
        <a href="mailto:{{ site.username }}@gmail.com" title="Email" aria-label="Email">
          <span class="genericon genericon-mail icon--media" aria-hidden="true"></span>
          <span class="icon__desc">Email</span>
        </a>
      </address>
    </li>
    <li>
      <a href="//github.com/{{ site.username }}" title="Github" aria-label="GitHub">
        <span class="genericon genericon-github icon--media" aria-hidden="true"></span>
        <span class="icon__desc">GitHub</span>
      </a>
    </li>
    <li>
      <a href="//linkedin.com/in/{{ site.username }}" title="LinkedIn" aria-label="LinkedIn">
        <span class="genericon genericon-linkedin icon--media" aria-hidden="true"></span>
        <span class="icon__desc">LinkedIn</span>
      </a>
    </li>
  </ul>
</footer>
