{% if page.type == 'landing' %}
<header class="ui-layout" id="header-landing">
  <section class="ui-layout__item nameplate">
    <div class="nameplate__logo">
      {% include logo.html %}
    </div>
    <div class="nameplate__content">
      <h1 class="nameplate__title">{{ site.title }}</h1>
      <h2 class="nameplate__heading">
        <span class="type-headline--highlight">
          Designer <span class="nameplate__heading--bottom">& Developer.</span>
        </span>
      </h2>
      <ul class="nameplate__links">
        {% for link in site.data.links %}
          <li><a href="{{ link.url }}" title="Tiffany Yeung's {{ link.title }}" aria-label="Tiffany Yeung's {{ link.title }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</header>
{% endif %}
