<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.type != 'landing' %}{{ page.title }} &#124; {% endif %}{{ site.title }}</title>

  <meta name="keywords" content="{{ site.keywords }}">

  {% seo title=false %}

  <meta property="og:image" content="/assets/img/avatar-square.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">

  <link rel="preload" as="font" type="font/woff" href="/assets/fonts/questrial/questrial-regular.woff" crossorigin>
  <link rel="preload" as="font" type="font/woff" href="/assets/fonts/roboto/roboto-light.woff" crossorigin>

  <style>
    {% capture fonts %}
      {% include scss/fonts.scss %}
    {% endcapture %}
    {{ fonts | scssify }}
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" integrity="sha256-G2+IcX6XRBcYufvUNrCqZdR1PDbJkBU164G3zkt2C8Q=" crossorigin="anonymous" />
  <link href="/assets/stylesheets/{% if page.type == 'landing' %}landing{% else %}page{% endif %}.css" rel="stylesheet">
</head>
