---
layout: section
order: 2
title: work
---

<div class="ui-section">
  <header class="ui-section__header" data-aos="fade-right" data-aos-delay="100">
    <h1>Portfolio</h1>
    <h2 class="type-headline type-headline__top">Here&rsquo;s some of the <span class="type-headline--highlight">work I&rsquo;ve done</span>.</h2>
  </header>
  <ul class="ui-grid" id="work-grid">
    {% for item in site.data.work %}
    <li class="ui-grid-row">
      {% if item.img_path %}<img class="ui-grid-row__img" id="{{ item.img_id }}" src="{{ item.img_path }}" title="{{ item.img_title }}" data-aos="fade-{{ item.img_orientation }}" data-aos-delay="200">{% endif %}
      <div class="ui-grid-row__content" data-aos="fade-{{ item.fade_orientation }}" data-aos-delay="150">
        <h3 class="ui-grid__title">{{ item.title }}</h3>
        <h4 class="ui-grid__subtitle">{{ item.position }}, {{ item.date }}</h4>
        <p>{{ item.description }}</p>
        {% if item.links %}
          <ul class="ui-button-group">
            {% for link in item.links %}
            <li class="ui-button-group__item">
              {% if link.active == true %}
                <a class="ui-button" href="{{ link.url }}">{{ link.name }}</a>
              {% else %}
                <span class="ui-button ui-button--disabled">{{ link.name }}</span>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
