/// =====
/// base/layouts/default
/// for the default site layout.
/// =====

main {
  width: 80%;
  min-height: 100vh;
  padding: 0;
  margin: 2.5% auto 0 auto;

  @media all and (min-width: $md-mobile-width) {
    width: 75%;
  }
}

.section {
  width: 100%;
  padding: 1em 0;
  margin: 0 auto 2.5% auto;
  position: relative;

  &__title {
    padding: 0;
    margin: 0.5em 0;
    text-align: left;
    text-transform: lowercase;

    @media all and (min-width: $xl-mobile-width) {
      padding-top: 0.3em;
    }
  }

  &__content {
    width: 93.75%;
    height: 100%;
    margin: 0 auto;
  }
}
