//
// base/layouts/landing: specific landing/'single-page' layout declarations.
//

header, main {
    height: 100vh;
}

main {
    top: 100%;
}

.content {
    position: relative;
    top: 0;

    &__wrapper {
        height: auto;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        position: relative;
        background: color('black', 'onyx');

        &:nth-child(even) {
            background: color('black');
        }

        @media all and (min-width: $desktop-width-media) {
            padding: 1em 0;
        }
    }

    h1 {
        @media all and (min-width: $desktop-width-media) {
            font-size: $heading-1;
        }

        @media all and (max-aspect-ratio: #{$desktop-aspect-ratio}) {
            margin-bottom: 0.24em;
        }
    }

    @media all and (min-width: $desktop-width-media) {
        width: calc(75% - 2em);
    }

    @media all and (min-height: $desktop-height-media) {
        height: 75%;
    }

    @media all and (min-width: $desktop-width-media) and (min-height: $desktop-height-media) {
        padding: 0;
        top: 15vh;
    }
}
