//
// base/layouts/page: specific page layout declarations.
//

main {
    background: color('black', 'onyx');
}

.content {
    text-align: left;

    h2 {
        margin: 0;
        font-weight: $light;
        text-align: left;
    }

    ul {
        padding: 0 0 0 2.5em;
        margin: 1em auto;
        font-size: $heading-7;
        line-height: $lh-1;
    }

    @media all and (min-width: $large-mobile-width) {
        width: 75%;
        padding-top: 8em;
        position: relative;
    }
}
