/// =====
/// base/layout/page
/// for the default page layout.
/// =====

main {
  width: 100%;
  margin-bottom: 2.5%;

  @media all and (min-width: $sm-mobile-width) and (min-height: $md-mobile-height) and (orientation: portrait) and (max-aspect-ratio: 1/1) {
    min-height: 50vh;
  }

  @media all and (min-width: $md-mobile-width) {
    width: 90%;
  }

  @media all and (min-width: $xl-mobile-width) {
    width: 62.5%;
  }

  @media all and (min-width: $md-desktop-width) {
    width: 50%;
  }
}

.section {
  width: 80%;

  @media all and (min-width: $xl-mobile-width) {
    width: 100%;
  }

  &__title {
    font-size: $heading-5;

    @media all and (min-width: $xl-mobile-width) {
      font-size: $heading-4;
    }

    @media all and (min-width: $tablet-size) {
      font-size: $heading-3;
    }

    @media all and (min-width: $sm-desktop-width) {
      font-size: $heading-2;
    }
  }
}
