////
/// Default button group styles live here.
/// @group components, @group button, @layout default
////

.ui-button-group {
  padding: 0;
  margin: 1.25em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.ui-button-group__item {
  display: inline;
  flex: 0 1 auto;
}
