////
/// Special styles for the dark theme live here.
/// @group themes
////

.th--dark {
  background: color(navy);
  color: color(sky);

  ::selection {
    background: color(gold, light);
    color: color(ink);
  }
}
