////
/// Special styles for the light theme live here.
/// @group themes
////

.th--light {
  background: color(sky, lighter);
  color: color(ink, light);

  ::selection {
    background: color(red, dark);
    color: color(sky, lighter);
  }
}
