////
/// All default styles for standard typography elements live here.
/// @group typography
////

p,
h1,
h2 {
  margin: 0 0 1em 0;
}

h1,
h2 {
  // Chrome fix for extra font bolding
  font-weight: $fw-regular;
}


///
/// Basic text elements

p {
  @include type-body;
}

h1 {
  padding: 0;
  margin-bottom: 0.5em;
  font-size: 0.875rem;
  line-height: lh(loose);
  letter-spacing: 0.0625em;
  text-transform: uppercase;

  @media (min-width: breakpoint()) {
    font-size: 0.9375rem;
  }

  @media (min-width: breakpoint(xl)) {
    font-size: 1rem;
  }
}

h2 {
  @include type-title;

  font-family: ff(title);
}

.type-headline {
  display: inline;

  @media (min-width: breakpoint(xl)) {
    display: block;
  }
}


.th--light {
  h1 {
    color: color(ink, light);
  }

  h2 {
    color: color(ink);
  }

  a {
    color: color(red);
  }

  .type-headline--highlight {
    color: color(red);
  }
}


.th--dark {
  h1 {
    color: color(sky, dark);
  }

  h2 {
    color: color(sky);
  }

  a {
    color: color(gold);
  }

  .type-headline--highlight {
    color: color(gold);
  }
}
