//
// base/typography/typography: the default typography styles.
//

h1 {
    padding: 0.375em;
    margin: 0;
    font: $regular #{$heading-5}/#{$lh-3} $title-font;
    color: color('gold');

    @media all and (min-width: $md-mobile-width) {
        font-size: $heading-3;
    }

    @media all and (min-width: $tablet-size) {
        font-size: $heading-2;
    }

    @media all and (min-width: $desktop-width) {
        font-size: $heading-1;
    }

    &::selection {
        background: transparent;
        color: color('gold', 'citrine');
    }
}

h2 {
    margin: 1em auto;
    font: $regular #{$heading-6}/#{$lh-1} $title-font;

    @media all and (min-width: $desktop-width) {
        font-size: $heading-5;
    }

    &::selection {
        background: transparent;
        color: color('gold', 'citrine');
    }
}

h3 {
    margin: 0;
    font: $regular #{$md-font-size}/#{$lh-2} $title-font;

    @media all and (min-width: $desktop-width) {
        font-size: $heading-6;
    }

    &::selection {
        background: transparent;
        color: color('gold', 'citrine');
    }
}
