////
/// Style overrides and "snowflake" element styles for the contact section in landing live here.
/// @page landing, @group overrides
////

#contact {
  @include layout-desktop() {
    height: 32em;
    min-height: 0;
    text-align: center;
  }

  @include layout-desktop(breakpoint('xxl')) {
    height: 40em;
  }

  .ui-button-group {
    justify-content: flex-start;

    @include layout-desktop() {
      justify-content: center;
    }
  }
}
