////
/// Style overrides and "snowflake" element styles for the about page live here.
/// @page landing, @group overrides
////

#work {
  @include layout-desktop() {
    max-width: 75rem;
  }

  @include layout-desktop(breakpoint('xl')) {
    .type-headline__top {
      left: -1em;
    }
  }

  @include layout-desktop(breakpoint('xxl')) {
    .ui-grid {
      @include type-heading;
      
      position: relative;
      left: 1em;
    }
  }

  .ui-grid-row .ui-button-group {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}
