////
/// Styles for the "snowflake" nameplate element live here.
/// @group components, @group snowflake, @layout landing
////

.nameplate {
  width: 82.5%;
  justify-content: flex-start;
  position: relative;

  @media (min-width: breakpoint('sm')) {
    justify-content: center;
  }

  @media (min-width: breakpoint()) {
    width: 75%;
    max-width: 75rem;
  }
}

.nameplate__logo {
  height: 82.5vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  @media (min-width: breakpoint('sm')) {
    width: auto;
    height: auto;
    width: 40%;
    margin: 0 2.5% 0 0;
    position: static;
  }

  @media (min-width: breakpoint('xl')) {
    width: 37.5%;
  }

  @media (min-width: breakpoint('xxxl')) {
    width: 32.5%;
  }
}

.nameplate__content {
  width: auto;
  margin-left: 2.5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  z-index: 2;

  @media (min-width: breakpoint('sm')) {
    max-width: 45%;
  }

  @media (min-width: breakpoint()) {
    max-width: 50%;
  }
}

.nameplate__heading {
  margin-bottom: 0;
  font-size: 2.75rem;
  line-height: lh('tightest');
  text-transform: lowercase;

  @media (min-width: 789px) {
    font-size: 3rem;
  }

  @media (min-width: breakpoint()) {
    font-size: 3.25rem;
  }

  @media (min-width: breakpoint('xl')) {
    font-size: 3.75rem;
  }

  @media (min-width: breakpoint('xxxxl')) {
    font-size: 4rem;
  }

  &--bottom {
    display: block;

    @media (min-width: 645px) and (max-width: breakpoint()) {
      display: inline-block;
    }
  }
}

.nameplate__links {
  @include type-body;

  padding: 0;
  margin: 2em 0 0 0;
  font-size: 0.75rem;
  list-style: none;

  @media (min-width: breakpoint('sm')) and (max-width: 920px) {
    font-size: 0.875rem;
  }

  li {
    display: inline;

    &:last-of-type a {
      margin-right: 0;
    }
  }

  a {
    @include type-link-alt;

    margin: 0 0.75em 0 0;

    @media (min-width: breakpoint('xxs')) and (max-width: breakpoint('sm')){
      margin-right: 1em;
    }

    @media (min-width: breakpoint('xl')) {
      margin-right: 1.5em;
    }
  }
}


.th--light {
  .nameplate__links {
    a {
      color: color('ink', 'light');

      &:active,
      &:focus,
      &:hover {
        border-bottom-color: color('ink', 'light');
      }
    }
  }
}


.th--dark {
  .nameplate__links {
    a {
      color: color('sky');

      &:active,
      &:focus,
      &:hover {
        border-bottom-color: color('sky');
      }
    }
  }
}
