//
// modules/animations/extends: all reusable animation styles.
//

%animation-settings {
    @include animation-fill-mode(forwards);
    @include animation-timing-function(ease-in-out);
    @include animation-play-state(paused);
}

%border {
    width: 0;
    height: 0;
    position: absolute;
    background: transparent;
    @include animation-duration(0.4s);
    @extend %animation-settings;
}

%b-odd{
    width: 2px;
}

%b-even{
    height: 2px;
}
