/// =====
/// modules/animations/landing
/// default landing animations.
/// =====

$section-delay: 200;

.section {
  will-change: transform;
  transform: translateZ(0);
  @extend %animationfadein--downsoft;
  animation-delay: 250ms;
}
