//
// modules/animations/mixins: all resuable animation mixins.
//


// DEFAULT MIXINS

// KEYFRAMES
@mixin keyframes($keyframes) {
    @-webkit-keyframes #{$keyframes} {
        @content;
    }

    @-moz-keyframes #{$keyframes} {
        @content;
    }

    @-o-keyframes #{$keyframes} {
        @content;
    }

    @keyframes #{$keyframes} {
        @content;
    }
}

// ANIMATION SETTINGS
@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-name($name...) {
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
}

@mixin animation-duration($duration...) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
}

@mixin animation-timing-function($easing) {
    -webkit-animation-timing-function: $easing;
    -moz-animation-timing-function: $easing;
    -o-animation-timing-function: $easing;
    animation-timing-function: $easing;
}

@mixin animation-delay($delay...) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin animation-direction($dir) {
    -webkit-animation-direction: $dir;
    -moz-animation-direction: $dir;
    -o-animation-direction: $dir;
    animation-direction: $dir;
}

@mixin animation-fill-mode($fill) {
    -webkit-animation-fill-mode: $fill;
    -moz-animation-fill-mode: $fill;
    -o-animation-fill-mode: $fill;
    animation-fill-mode: $fill;
}

@mixin animation-iteration-count($count) {
    -webkit-animation-iteration-count: $count;
    -moz-animation-iteration-count: $count;
    -o-animation-iteration-count: $count;
    animation-iteration-count: $count;
}

@mixin animation-play-state($play) {
    -webkit-animation-play-state: $play;
    -moz-animation-play-state: $play;
    -o-animation-play-state: $play;
    animation-play-state: $play;
}


// PROJECT-SPECIFIC MIXINS

@mixin list-fadein($list, $elemname, $delay, $rpt-delay) {
    @at-root {
        @each $item in $list {
            #{$elemname} {
                &--#{$item} {
                    @extend %animation--fadeindown;
                    @include animation-delay(#{$delay}s);
                }
            }

            $delay: $delay + $rpt-delay;
        }
    }
}

@mixin num-fadein($iterationamount, $elemname, $itemname, $delay, $rpt-delay) {
    @at-root {
        @for $i from 1 through $iterationamount {
            #{$elemname} {
                &--#{$itemname}#{$i} {
                    @extend %animation--fadeindown;
                    @include animation-delay(#{$delay}s);
                }
            }

            $delay: $delay + $rpt-delay;
        }
    }
}
