/// =====
/// sections/about
/// @landing
/// =====

#about-img {
  width: 10em;
  height: 10em;
  margin: 0.5em auto;
  position: relative;
  left: -1em;
  display: block;
  border-radius: 50%;
  shape-outside: circle();

  @media all and (min-width: $md-mobile-width + 1em) {
    margin: 0 1.25em 0.25em 0.5em;
    left: 0;
    float: left;
  }

  @media all and (min-width: $md-mobile-width + 1em) and (orientation: landscape) {
    margin: 0.5em 1.5em 0 0;
  }

  @media all and (min-width: $lg-mobile-width) {
    margin: 0 1.5em 0 0;
  }

  @media all and (min-width: $xl-mobile-width) {
    margin: 0.5em 1.5em 0.5em 0;
  }

  @media all and (min-width: $tablet-size) {
    width: 12.5em;
    height: 12.5em;
  }

  @media all and (min-width: $tablet-size) and (orientation: portrait) {
    margin: 0.5em 1em 0 0;
  }

  @media all and (min-width: $tablet-size) and (orientation: landscape), (min-width: $sm-desktop-width) {
    margin: 0 1.5em 1em 0;
  }

  @media all and (min-width: $sm-desktop-width) {
    margin-right: 2.5em;
  }
}
