//
// fonts/work-sans: font face declaration for the Work Sans font.
//

$dest: '../fonts/work sans/work-sans';

@font-face {
    font-family: 'Work Sans';
    src: url('#{$dest}-hairline.eot');
    src: url('#{$dest}-hairline.eot?#iefix') format('embedded-opentype'),
         url('#{$dest}-hairline.woff') format('woff'),
         url('#{$dest}-hairline.ttf') format('truetype'),
         url('#{$dest}-hairline.svg#work-sans-hairline') format('svg');
    font-weight: $hairline;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('#{$dest}-thin.eot');
    src: url('#{$dest}-thin.eot?#iefix') format('embedded-opentype'),
         url('#{$dest}-thin.woff') format('woff'),
         url('#{$dest}-thin.ttf') format('truetype'),
         url('#{$dest}-thin.svg#work-sans-thin') format('svg');
    font-weight: $thin;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('#{$dest}-light.eot');
    src: url('#{$dest}-light.eot?#iefix') format('embedded-opentype'),
         url('#{$dest}-light.woff') format('woff'),
         url('#{$dest}-light.ttf') format('truetype'),
         url('#{$dest}-light.svg#work-sans-light') format('svg');
    font-weight: $light;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    @font-face {
        font-family: 'Work Sans';
        src: url('#{$dest}-hairline.svg#work-sans-hairline') format('svg');
        font-weight: $hairline;
        font-style: normal;
    }

    @font-face {
        font-family: 'Work Sans';
        src: url('#{$dest}-thin.svg#work-sans-thin') format('svg');
        font-weight: $thin;
        font-style: normal;
    }

    @font-face {
        font-family: 'Work Sans';
        src: url('#{$dest}-light.svg#work-sans-light') format('svg');
        font-weight: $light;
        font-style: normal;
    }
}
