////
/// Default UI grid layout component styles live here.
/// @group components, @layout grid
////

.ui-grid {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ui-grid-row {
  @include layout-desktop() {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: left;
  }

  + ui-grid-row {
    margin-bottom: 10%;
  }
}

.ui-grid-row__content {
  @include layout-desktop() {
    @include type-body;

    padding-left: 2em;
  }
}

.ui-grid__title {
  margin: 0;
}

.ui-grid__subtitle {
  margin-top: 0;
  font-style: italic;
  font-weight: 300;
}

.ui-grid-row__img {
  display: none;

  @include layout-desktop() {
    display: block;
    max-height: 400px;
    box-shadow: shadow();
  }
}
