////
/// Default UI grid layout component styles live here.
/// @group components, @layout default, @layout grid
////

.ui-grid {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;

  @media (min-width: breakpoint()) and (min-height: breakpoint('xxs')) {
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-gap: 1rem;
    align-content: start;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
  }
}

.ui-grid__item {
  width: 100%;
  display: block;

  @media (min-width: breakpoint()) and (min-height: breakpoint('xxs')) {
    display: flex;
    align-items: stretch;
  }
}
