////
/// Default UI layout component styles live here.
/// @group components, @layout default
////

.ui-layout {
  width: 100%;
  height: auto;
  min-height: 90vh;
  margin-bottom: 12.5%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;

  @include layout-desktop() {
    height: 100vh;
    min-height: 100vh;
    margin: 0 auto;
  }

  @media (min-width: breakpoint('xxl')) and (min-height: breakpoint('lg')) {
    height: 64em;
    min-height: 0;
  }

  &:not(header)::before {
    content: '';
    width: 80vw;
    max-width: 80rem;
    height: 1px;
    background-color: #dfdfdf;
    position: absolute;
    top: 0;
    display: none;

    @media (min-width: breakpoint('xxxl')) and (min-height: breakpoint('xl')) {
      display: block;
    }
  }
}

.ui-layout__item {
  width: 82.5%;
  height: 82.5%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include layout-desktop() {
    width: 75%;
    height: 75%;
  }
}
