////
/// Default UI section layout component styles live here.
/// @group components, @layout default
////

.ui-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.ui-section__content {
  @include type-body;

  width: 100%;
}
