//
// modules/navigation/nav-bar: the default navigation bar style.
//

nav {
    width: 100%;
    height: auto;
    padding: 1.5em 0;
    position: fixed;
    z-index: z('topmost');
    background: rgba(5,8,14,0.8);
    text-align: center;

    li {
        width: 15%;
        display: inline;

        @if $stylesheet-type == 'general'{
            margin: 0 0.5em;
        } @else{
            margin: 0;
        }

        vertical-align: middle;

        @media all and (min-width: $large-mobile-width) {
            display: inline-block;
        }

        @media all and (min-width: 100em) {
            width: 15em;
        }
    }

    a {
        padding: 0 0 0.5em 0;

        @if $stylesheet-type == 'landing'{
            margin: 0 0.5em;
        } @else{
            margin: 0;
        }

        display: inline;
        border-bottom: 1px solid transparent;
        font-size: $small-font-size;
        color: color('white', 'chrome');
        line-height: $default-lh * 2.25;
        letter-spacing: 0.1em;
        @include center-allcaps;

        &:hover, &:active {
            color: color('white');
            border-bottom: 1px solid color('white');
        }

        @media all and (min-width: $medium-mobile-width) {
            font-size: $default-font-size;
        }

        @media all and (min-width: $desktop-width-media) {
            width: $small-font-size;
            height: calc(2.25em - 1px);
            padding: 0;
            margin: 0 10%;
            display: inline-block;
            font-size: $heading-7;
        }
    }

    @media all and (min-width: $large-mobile-width) {
        height: 4em;
    }

    @media all and (min-width: $desktop-width-media) {
        @include linear-gradient('rgba(0,0,0,0.85) 0%, rgba(5,8,14,0.8) 20%, rgba(11,17,31,0.75) 50%, rgba(7,15,31,0.7) 80%, transparent');
    }
}

#nav-icon {
    height: 64px;
    display: none;
    border: none;

    @media all and (min-width: $large-mobile-width) {
        width: 15%;
        display: inline-block;
    }
}

#mobile-index-redirect {
    @media all and (min-width: $large-mobile-width) {
        display: none;
    }
}
