//
// modules/navigation/nav-arrows: the default navigation arrow style.
//

.nav--arrow {
    width: 0.5em;
    height: 1em;
    padding: 0 0 0.1em 0;
    @include center-absolute;
    bottom: 5vh;
    display: none;
    font-size: $heading-3;
    font-weight: $hairline;
    line-height: $default-lh;
    color: color('white', 'silver');
    text-align: center;
    @include transform(scale(2.5,1));

    &:hover {
        color: color('white');
    }

    @media all and (max-aspect-ratio: #{$desktop-aspect-ratio}) and (min-height: $desktop-height-media) and (min-width: $desktop-width-media) {
        display: block;
    }
}
