---
layout: page
type: project

name: symphonythemes
title: Symphony Themes
description: "A repository of Tumblr themes created for public use as I experiment with design."

next: tydesigns
next-title: TY Designs
---

<ul class="btn-group btn-group--link">
  <li class="btn-group__item">
    <a href="//symphonythemes.tumblr.com" class="btn">View Project</a>
  </li>
</ul>

<section class="section section--portfolio">
  <h1 class="section__title">Portfolio.</h1>
  <div class="section__content">
    <p class="mobile-only">
      <i>Please note that these designs aren't visible on mobile, and are best viewed on desktop. Keep reading for the reasoning behind this decision!</i>
    </p>
    <ul class="grid">
      {% for tile in site.data.symphonythemes %}
        <li class="grid__item grid__item--sm">
          <a class="tile" href="{% if tile.url %}{{ tile.url }}{% else %}//symphonypreviews.tumblr.com/th{{ tile.id }}-{{ tile.name }}{% endif %}">
            <h2 class="tile__title tile__title--portfolio">{{ tile.title }}</h2>
            <img src="/assets/img/{{ page.name | remove: '.html' }}/{{ tile.name }}.png" alt="Background preview image of this design." class="tile__img">
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="section">
  <h1 class="section__title">Backstory.</h1>
  <div class="section__content">
    <p>About three years ago, I heavily used the blogging platform Tumblr, but was intensely dissatisfied with the blog themes I chose. At the time, I only had a basic understanding of HTML and CSS, so I strived to learn both through a combination of tutorials and experimentation. I spent a lot of time going through code, deliberately breaking it from the inside out in order to understand how each component worked.</p>
    <p>Then that summer, I decided to create my theme from scratch. My site was supposed to represent me as how I was at the time, but nothing I chose felt right. So, I started hacking away at a lot of theme iterations. Each was only slightly better than the last, yet dissatisfied me nevertheless. It wasn't until I stumbled upon a picture I particularly wanted to incorporate that I came up with the theme layout I wanted to use.</p>
    <p>When I released the theme, I was delighted not only by the numerous positive responses I received, but the satisfaction from creating something like this. I wanted to go through the whole process again, and despite iterating over the design over the course of the next year and adding more features, there was the urge to keep creating and designing. So I started Symphony Themes to provide my designs to the public for free use with continuous user support.</p>
    <p>At some point, schoolwork became intense and I put theme-making on the backburner. When I came back to this project a year later, my design skills had improved dramatically, so I set about creating a new brand, removing old themes, and reopening it in December 2015.</p>
  </div>
</section>

<section class="section">
  <h1 class="section__title">Design Process.</h1>
  <div class="section__content">
    <p>Generally, whenever I design a theme, the first thing I write down is the overall "look" and "feel". Since I strive to make each theme unique, it's a way for me to create a sort of "brand" for each of them, detailing the overall look and feel that the theme should convey to users. This is also when I would decide on general color schemes and other details, including specific features I wanted to implement.</p>
    <p>After this, I start iterating on the design, particularly on layout variations. This normally takes into account numerous factors, such as web responsiveness, blog post functionality, and the necessary navigation required from blog themes. An odd factor in particular is that mobile responsiveness is <i>not</i> something to be heavily considered. Many Tumblr users access the mobile version of the site through the native app on iOS or Android, which doesn't display any of the themes installed on desktop. Furthermore, most themes default to a very specific mobile theme that users can override, but the vast majority choose not to.</p>
    <p>After I find a layout that addresses the necessary interface requirements, I start creating the theme, focusing on getting the general layout mapped out in HTML and CSS. Basic testing happens at this point to determine whether the layout will work in practice. If it doesn't, I re-enter the layout iteration process again until I'm satisfied. If it does work, then the rest of the site theme is built, with placeholder content added throughout the process to make sure things look alright.</p>
    <p>Finally, I go through extensive manual testing to make sure everything is as it should be, as well as code checks so I know that no code is functionally useless. If everything goes according to plan, then finally it's time to publish!</p>
  </div>
</section>

<section class="section">
    <h1 class="section__title">Results.</h1>
    <div class="section__content">
      <p>Overall, this project was the first step in my journey into design and programming. It taught me about many concepts, such as design iteration, use cases, web accessibility, and web responsiveness. It also helped me start thinking from a client's viewpoint, including their needs, wants, and limitations; how they would interact with the site; and how I could address each of those while simultaneously conveying the "feel" of the site.</p>
      <p>Nowadays, it's one of my favorite outlets to turn to whenever I'm frustrated, or simply inspired to design. It's a great testing grounds for new or unconventional layouts I would never contemplate for other projects, as well as learning new (or more efficient) methods for implementing certain features with JavaScript and jQuery.</p>
      <p>Currently, Symphony Themes has gathered over 5000 downloads on all designs so far. I've seen themes I've made reach over 1000 downloads within the first week, and continue growing at steady rates months later.</p>
      <p>Most of all, however, running this theme blog has taught me a lot about observing users, and gauging how each design succeeds and fails with the target audience. I've learned how to go through a basic design and development process, and think further about use cases, personas, and other core skills related to design overall.</p>
    </div>
</section>
