////
/// All animation keyframes live here.
/// @group components, @group animations
////

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(8%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-8%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(6.25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
