//
// base/colors: the default site color palette.
//

// VARIABLES
$color-variant: 'base' !default;

$color-palette: (
    'gold': (
        'burnt': #945523,
        'base': #d1944c,
        'citrine': #e6a65c,
        'amber': #ffcd8e,
        'topaz': #e7c28d,
    ),
    'blue': (
        'navy': #141822,
        'gunmetal': #1f232f,
        'base': #4f5463,
    ),
    'black': (
        'jet': rgba(0,0,0,0.8),
        'base': #171a21,
        'obsidian': #20242f,
        'charcoal': #23252b,
        'slate': #33353c,
    ),
    'white': (
        'iron': #b6b9c0,
        'steel': rgba(255,255,255,0.625),
        'silver': rgba(255,255,255,0.75),
        'chrome': rgba(255,255,255,0.875),
        'titanium': rgba(255,255,255,0.9375),
        'base': rgba(255,255,255,1),
    )
);

// FUNCTIONS
@function color($name, $variant: $color-variant) {

    $color-spectrum: if(map-has-key($color-palette, $name), map-get($color-palette, $name), null);

    @if $color-spectrum {
        @if map-has-key($color-spectrum, $variant) {
            @return map-get($color-spectrum, $variant);
        }
    }

    @warn "Unknown `#{$name}/#{$variant}` in the color palette.";
    @return null;
}
