////
/// Site color palette lives here.
/// @group utilities
////

$color-palette-data: (
  gold: (
    'light': #ffe3c1,
    'base': #ca9a63,
  ),

  red: (
    'base': #ce2849,
    'dark': #773743
  ),

  navy: (
     'light': #21293f,
     'base': #161925,
  ),

  sky: (
    'lighter': #fdfdfd,
    'light': #ececec,
    'base': #dbdbdb,
    'dark': #bfbfbf,
  ),

  ink: (
    'lighter': #6b7076,
    'light': #3a4553,
    'base': #14181f
  ),

  black: (
    'base': #000
  ),

  white: (
    'base': #fff
  )
);

///
/// Returns a color given the associated name.
/// @param {String} $hue - the basic color family.
/// @param {String} $gradient [base] - the brightness of the hue. Defaults to 'base'.
/// @return {Color} - the desired color.

@function color($hue, $gradient: 'base') {
  @return retrieve-map-value($color-palette-data, "color palette", $hue, $gradient);
}
