//
// base/variables: all global variables.
//


// ELEMENTS

// element transitions
$short-transition: all 0.375s ease-in-out;
$default-transition: all 0.5s ease-in-out;
$long-transition: all 0.625s ease-in-out;


// MEDIA QUERIES
$sm-mobile-width: 20em; // 320px
$md-mobile-width: 25em; // 400px
$lg-mobile-width: 31.25em; // 500px
$xl-mobile-width: 37.5em; // 600px
$tablet-size: 48em; // 768px

$sm-mobile-height: 31.25em; // 500px
$md-mobile-height: 40em; // 600px
$lg-mobile-height: 43.75em; // 700px

$desktop-width: 68.75em; // 1100px
$desktop-height:  46.875em; // 750px
$desktop-aspect-ratio: "25/12"; // 25/12 (0.48)


// VARIABLE LISTS

$logo-list: (
    'first-name',
    'last-name',
);

$section-list: (
    'about',
    'work',
    'contact',
);
