//
// base/variables: all global variables.
//


// ELEMENTS

// padding, margins, borders
$primary-border: 2px solid color('gold');
$hidden-border: 2px solid transparent;

// element transitions
$default-transition: all 0.5s ease-in-out;
$medium-transition: all 0.75s ease-in-out;
$long-transition: all 1s ease-in-out;


// MEDIA QUERIES
$medium-mobile-width: 37.5em; // 500px
$large-mobile-width: 48em; // 768px

$desktop-width-media: 68.75em; // 1100px
$desktop-height-media:  43.75em; // 700px
$desktop-aspect-ratio: "25/12"; // 25/12 (0.48)
